.componente13{
  display: flex;
  margin-right: 10%;
}

.container2{
  display: flex;
  margin: 1px;
}


.compo1{
  height: 220px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 80px;
  margin-left: 40px;
}
.compo2{
  height: 220px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 80px;
  margin-left: 40px;
}
.compo3{
  height: 220px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 80px;
  margin-left: 40px;
}
.compo4{
  height: 220px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 80px;
  margin-left: 320px;
}
.compo5{
  height: 220px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 100px;
  margin-left: 80px;
}

.jugar{
  margin-left: 180px;
}
.video{
  margin-left: 150px;
}
.netflix{
  margin-left: 155px;
}
.box{
  margin-left: 440px;
}
.musica{
  margin-left: 190px;
}