img{
  height: 300px;
  display: flex;
  justify-content: center;
  margin: .5rem ;
  margin-right: 40px;
  margin-left: 630px;
  border-radius: 2rem;
  border: 6px solid black ;
}
h1{
  text-align: center;
  margin: .5rem;
}
h2{
  text-align: center;
  margin: .5rem;
}
h3{
  text-align: center;
  margin: .5rem;
}
body{
  background-color: rgb(192, 206, 247);
}